<h2><%= @team.name %></h2>

<hr>
<% @team.players.each do |player| %>
  <p><%= player.name %><span> - <%= player.country.name %></p>
<% end %>
<hr>

<h4>Matches</h4>
<% @teams = Team.all %>
<% @matches = Match.all %>
<% @matches.each do |match| %>
  <% home_team = @teams.find(match.home_team_id) %>
  <% away_team = @teams.find(match.away_team_id) %>

  <% if home_team.id == @team.id || away_team.id == @team.id %>
    <p><%= "#{home_team.name} [#{match.home_team_score == nil ? 0 : match.home_team_score}] vs [#{match.home_team_score == nil ? 0 : match.away_team_score}] #{away_team.name}" %></p>
  <% end %>

<% end %>
